@page "/localities"
@using System.Text.RegularExpressions
@using System.ComponentModel.DataAnnotations
@using DesafioBlazor.Components.Pages.Localities.Components
@using DesafioBlazor.Data.SharedContext.Services
@using System.Linq.Expressions
@attribute [Authorize]
@rendermode @(new InteractiveServerRenderMode(prerender: false))
@attribute [StreamRendering(true)]

<div class="my-4">
    <h1 class="mb-4">Localidades IBGE</h1>
    <button class="btn btn-primary btn-lg mb-2" @onclick="NewLocality">Criar</button>
    <SearchBoxForm model="@searchBox" onSubmit="@(e => Search())" />
</div>

@if (!string.IsNullOrEmpty(errorMessage))
{
    <div class="alert alert-danger">
        @errorMessage
    </div>
}

@if (!localities.Any())
{
    <p class="text-center">
        @if (string.IsNullOrEmpty(errorMessage))
        {
            @if (searchPerformed)
            {
                <em>Nenhum registro encontrado...</em>
            }
            else
            {
                <em>Carregando...</em>
            }
        }
    </p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Código</th>
                <th>Cidade</th>
                <th>Estado</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var locality in localities)
            {
                <tr>
                    <td>@locality.Id</td>
                    <td>@locality.City</td>
                    <td>@locality.State</td>
                    <td>
                        <button class="btn btn-secondary btn-sm" @onclick="() => EditLocality(locality.Id)">Editar</button>
                        <button class="btn btn-danger btn-sm" @onclick="() => DeleteLocality(locality.Id)">Deletar</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <nav aria-label="Navegação de página">
        <ul class="pagination justify-content-end">
            <li class="page-item @(isFirstPage ? "disabled" : "")">
                <button class="page-link" @onclick="e => Search(pageNumber - 1)">Anterior</button>
            </li>

            @*
        @for (int i = pageNumber; i <= pageCount; i++)
        {
        // Não sei por que, mas quando clica no número em um cenário especifico ele diz que o "i" é um número maior que
        o pageCount
        // Pesquisar por "Santo"
        // Ir até a página 5
        // Clicar no número 7, por exemplo
        // Ele chega no breakPoint com o i == 9 e o meu pageCount == 8
        @* <li class="page-item @(pageNumber == i ? "active" : "")">
        <button class="page-link" @onclick="e => Search(i)">@i</button>
        </li> *@

            @* @if (isLimiteVisualizacao(i) && canMostrarUltimasPaginas)
        {
        <li class="page-item">
        <span class="page-link">...</span>
        </li>

        <li class="page-item">
        <button class="page-link" @onclick="e => Search(pageCount)">@pageCount</button>
        </li>

        break;
        } *@
            @* } *@
            <li class="page-item @(hasMoreRecords ? "" : "disabled")">
                <button class="page-link" @onclick="e => Search(pageNumber + 1)">Próximo</button>
            </li>
        </ul>
    </nav>
}

@code {
    [Parameter]
    public int pageNumber { get; set; } = 1;
    private bool isFirstPage => pageNumber <= 1;
    private bool hasMoreRecords = false;
    public int pageCount { get; set; } = 1;
    private int skip { get; set; } = 0;
    private int take { get; set; } = 10;

    private string? errorMessage = null;
    private bool searchPerformed = false;
    private IEnumerable<IBGE> localities { get; set; } = Enumerable.Empty<IBGE>();
    private SearchBox searchBox = new();
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        await LoadAllContentAsync();
    }

    private async Task LoadAllContentAsync()
    {
        localities = await PerformSearch(null);
    }

    private void NewLocality() => _navigation.NavigateTo("/localities/create", false);

    private void EditLocality(string localityId)
    {
        string url = $"/localities/edit/{localityId}";
        _navigation.NavigateTo(url, false);
    }

    private void updatePagination() => skip = take * (pageNumber - 1);

    private async Task Search(int page = 1)
    {
        errorMessage = null;
        localities = Enumerable.Empty<IBGE>();
        pageNumber = page;

        if (string.IsNullOrWhiteSpace(searchBox.search))
        {
            await LoadAllContentAsync();
            return;
        }

        searchPerformed = false;
        try
        {
            switch (searchBox.searchType)
            {
                case Data.SharedContext.Enums.SearchType.Code:
                    if (!int.TryParse(searchBox.search, out _))
                    {
                        errorMessage = "Código deve ser numérico e ter no máximo 7 digitos";
                        return;
                    }

                    localities = await PerformSearch(x => EF.Functions.ILike(x.Id, $"%{searchBox.search}%"));
                    break;

                case Enums.SearchType.City:
                    if (searchBox.search.Length < 3)
                    {
                        errorMessage = "Cidade deve conter ao menos 3 caracteres.";
                        return;
                    }

                    localities = await PerformSearch(x => EF.Functions.ILike(x.City, $"%{searchBox.search}%"));
                    break;

                case Enums.SearchType.State:
                    // Verifica se o valor é uma sigla de estado
                    if (!Regex.IsMatch(searchBox.search, "^[A-Za-z]{2}$", RegexOptions.IgnoreCase))
                    {
                        errorMessage = "Estado deve conter apenas letras e ter exatamente 2 caracteres.";
                        return;
                    }

                    localities = await PerformSearch(x => EF.Functions.ILike(x.State, $"%{searchBox.search}%"));
                    break;

                default:
                    errorMessage = "Tipo de busca não implementado!";
                    break;
            }
        }
        catch (Exception e)
        {
            errorMessage = e.InnerException?.Message ?? e.Message;
        }
        finally
        {
            searchPerformed = true;
        }
    }

    public async Task<IEnumerable<IBGE>> PerformSearch(Expression<Func<IBGE, bool>>? predicate)
    {
        updatePagination();

        var query = _context.IBGE.AsQueryable();
        if (predicate != null)
            query = query.Where(predicate);

        var totalRecords = await query.CountAsync();

        query = query
        .OrderBy(x => x.Id)
        .Skip(skip)
        .Take(take);

        var result = await query
        .AsNoTracking()
        .ToListAsync();

        pageCount = (int)Math.Ceiling((double)totalRecords / take);
        var totalViewRecords = result.Count();
        hasMoreRecords = (totalRecords - (skip + totalViewRecords)) > 0;
        return result;
    }

    private async Task DeleteLocality(string id)
    {
        try
        {
            IBGE? locality = await _context.IBGE.FirstOrDefaultAsync(x => x.Id.ToLower().Equals(id.ToLower()));
            if (locality == null)
            {
                errorMessage = $"Não foi encontrado uma localidade com o id {id}!";
                return;
            }

            _context.IBGE.Remove(locality);
            await _context.SaveChangesAsync();
            await Search();
        }
        catch (Exception e)
        {
            errorMessage = e.InnerException?.Message ?? e.Message;
        }
    }
}
