<EditForm Model="@model" OnSubmit="@HandleSubmit" FormName="SearchForm">
    <div class="input-group mb-3">
        <InputSelect @bind-Value="model.searchType" class="btn btn-secondary btn-outline-info dropdown-toggle">
            @foreach (var value in Enum.GetValues<Enums.SearchType>())
            {
                @if (model.searchType == value)
                {
                    <option selected value="@value">@(EnumHelper.GetEnumDisplayName(value))</option>
                }
                else
                {
                    <option value="@value">@(EnumHelper.GetEnumDisplayName(value))</option>
                }
            }
        </InputSelect>

        <InputText class="form-control" @bind-Value="model.search"></InputText>

        <button type="submit" class="btn btn-secondary btn-outline-info">Pesquisar</button>
    </div>
</EditForm>

@code {
    [EditorRequired]
    [Parameter]
    public SearchBox model { get; set; } = new();
    [EditorRequired]
    [Parameter]
    public EventCallback onSubmit { get; set; }

    private void HandleSubmit()
    {
        onSubmit.InvokeAsync();
    }
}
